# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Model checkpoints
checkpoints/

# VS Code
.vscode/

# Results
results/temp/

# Hugging Face cache
cache/

#documents
docs/

# Model checkpoints
*.pt
*.pth
*.bin
checkpoints/

# Hugging Face cache
cache/

terminal/