# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Virtual Environment
# ==========================================
.venv/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Training Outputs and Checkpoints
# ==========================================
outputs/
results/


# ==========================================
# Terminal Files
# ==========================================
terminal/

# ==========================================
# Hugging Face / PyTorch Model Artifacts
# ==========================================
*.pt
*.pth
*.bin
*.safetensors

# ==========================================
# Hugging Face Cache
# ==========================================
cache/

docs/
